In [4]:
source('../helpfuncs/BADS-HelperFunctions.R')

In [5]:
loans = get.loan.dataset(fpath='../data/Loan_Data.csv')
head(loans)

  YOB nKIDS nDEP PHON dINC_SP EMPS_A dINC_A RES dHVAL  dMBO dOUTM dOUTL dOUTHP
1  19     4    0  yes       0      R      0   O 14464     4     0     0      0
2  41     2    0  yes       0      P  36000   O     0     0   280   664      0
3  66     0    0  yes       0      N  30000   N     0     0     0     0      0
4  51     2    0  yes       0      P    464   O 24928  8464   584   320      0
5  65     0    0  yes       0      P  15000   P     0     0     0     0      0
6  42     2    0  yes   10500      E  48000   O 43392 46464  1120     0      0
  dOUTCC  BAD YOB_missing
1      0 GOOD           0
2     80 GOOD           0
3      0 GOOD           0
4     60 GOOD           0
5      0 GOOD           0
6      0 GOOD           0

In [13]:
loans = loans[sample(nrow(loans)),] # shuffle the loans
bound = floor(nrow(loans)*0.6) 
train = loans[1:bound,]
test  = loans[(bound+1):nrow(loans),]
dim(test)

[1] 490  16